@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@font-face {
    font-family: 'TTTravelsNextTrl';
    src: url('/fonts/TTTravelsNextTrl.ttf');
    font-weight: 400;
    font-display: swap;
}

@theme {
    --font-display: 'TTTravelsNextTrl', 'sans-serif';
    --font-body: 'Inter', 'sans-serif';
}
